/*----------------------------------
  #COLORS
----------------------------------*/

// Set up a colour palette which allows us to theme the entire project from one
// location.

// Colour palette.

$color-white     : #ffffff;
$color-primary   : #191919;
$color-theme     : #007bff;
$color-secondary : #959595;

