/*-----------------------------------
  #Utilities
-----------------------------------*/
.bg-dark {
  background-color: #191919 !important;
  p{
    color: white !important;
  }
  a{
    color: #959595 !important;
  }
  a:hover{
    color: #007bff !important;
  }
  .footer-logo{
    color: white !important;
  }
  .footer-logo:hover{
    color: white !important;
  }
  .logo{
    color: white !important;
  }
  .logo:hover{
    color: white !important;
  }

}