/*-----------------------------------
  #Objecrts
-----------------------------------*/
.banner-text{
  height: 60vh;
}
.banner-img{
  height: 28vh;
}
.aboutus-left{
  background-image: url(../../img/aboutus-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}